<div id="about-box">
	<div id="about-cover" alt="Cover Image"><h1>About</h1></div>
	<div id="about-text">
		<h2>Shortlist is a little experiment that hopes to make sharing the best of the web more fun.</h2>
		<br>
		Here's the deal: you can <span>share 5 links everyday on Shortlist</span>. It's that simple. These five links make up your daily Shortlist. They're your five favourite things on the internet for that day. It could be a captivating article you read in the Atlantic or a picture of the sun eclipsing the Eiffel Tower that you took while on holiday. It could be a video of red panda playing in the snow or maybe it's that song you've had on loop in your head since breakfast. It's up to you. But you can only choose five things each day. So as a wise man named Ben once said, "With power comes great responsability." Or something like that.
		<br><br>
		The next time you stuble across something awesome online that you think deserves others' attention come add it to your Shortlist!
		<br><br>
		If you've had a look around you can tell Shortlist places a lot of emphasis on the quality of content. Each Shorlist link or "Short" is built from the ground up to take advantage of displaying your favourite videos and picture in all their glory. Essentially, the higher the resolution — the better. I really hope that this design will push both people to share both higher quality content and to push modern computing and the web to new limits.
		<br><br>
		Your job is simple: share your two or three favourite things on the internet each day. Oh — and enjoy all the awesome things other people are sharing!

	</div>

</div>