

<div id="add-bar" style="width:445px; margin-top:46px; height:75px; ">

	<label style="display:block; margin-bottom:5px; margin-top:5px;">What's the best thing on the Internet right now?</label>
	<input type="url" style="margin-top: 0px; margin-left: 5px; margin-bottom: 15px; width:370px" class="link-input" name="fake-url" placeholder="Link (Image, YouTube, Vimeo, SoundCloud)" autocomplete="off"/>

	<div class="url-note" style="font-size:12px; position:relative; color: #656262; width: 250px; margin-left: 460px; margin-top:-55px; text-align: left; line-height:16px;"></div>
</div>


<div id="shorts" style="margin-top:-20px">

	<h2 style="margin-bottom:20px; font-size: 16px; font-weight: 600; color: #656262;">Preview</h2> 

	<div class="short-container">

		<div id="short-details" style="padding-bottom: 10px; padding-left: 10px;">
			<form id="add-link-form" action="/<%= env['warden'].user.username %>/add" method="post">
				<input type="text" class="short-title-edit" name="title" placeholder="Write a short title..." autocomplete="off"/>
				<input type="url" style="display:none" name="url"/>
				<div class="char-count">120</div>
				<input type="submit" style="width: 120px; padding-top: 0px; padding-bottom: 2px; margin-top:-5px; margin-right: 10px; float:right; text-transform: none;" class="button" value="Add Link">
			</form>
		</div>

		<div class="short-cover-container" style="height:0px;">
			<div class="short-cover" style="background-image:url('');"> </div>
		</div>

		<div id="bottom-bar" style="height:30px;">

		</div> 

	</div> 

</div>

<script>
window.onload=function(){
	$(".short-title-edit").bind('keydown keyup paste', function() {
		numChar = $(".short-title-edit").val().length;
		charsLeft = 120 - numChar;
		$(".char-count").empty();
		if (charsLeft >= 20) {
			$(".char-count").css("color","#383838")
		}else if (charsLeft <= 10) {
			$(".char-count").css("color","#e9152b")
		}
		$(".char-count").text(charsLeft);
	})

	$('input[name="fake-url"]').on("input", function() {
		// Check if valid url
		// if valid URL check if it's an image
		
		var _this = this;
		// Short pause to wait for paste to complete
		setTimeout( function() {
			var url = $(_this).val();
			tryRenderPreview(url);
		}, 100);
	})

	// // A small trick I have learned is to use a setTimeout delay of 0, 
	// // this sends the function to the bottom of the rendering stack, 
	// // allows the text to be added to the textbox then executes the code.

	// $(".short-title-edit").on('focus blur', function() {
	// 	var url = $('input[name="fake-url"]').val();
	// 	tryRenderPreview(url);
	// })

	displayedPreview = ""
	//$('input[name="fake-url"]').on("input", null, null, tryRenderPreview("http://i.imgur.com/4qpzT.jpg"));

	function fooFun() {
		console.log('detected!!!');
	}

	function tryRenderPreview(currentURL) {
		console.log("trying to render preview. Current url entered: " + currentURL + " and displayedPreview is: " + displayedPreview )
		if (currentURL != displayedPreview) {
			console.log("Different url")
			var youtubeRegex = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
			var matchYouTube = currentURL.match(youtubeRegex);
			var tempImage = new Image()
			tempImage.src = currentURL;
			tempImage.onload = function() {
				console.log("Width of temp image: " + tempImage.width)
				if (tempImage.width > 0){
					console.log("valid image")
					$('.short-cover').empty();
					$('.url-note').empty();
					$('.short-cover').css("background-image", 'url(' + tempImage.src + ')');
					$('.short-cover-container').css("height", "550px");
					displayedPreview = currentURL
					if (tempImage.width < 900){
						$('.url-note').text("To make images look great on Shortlist try to make sure they're atleast 900 pixels wide. This one is " + tempImage.width + " pixels wide.");
					}	
				} else if (matchYouTube&&matchYouTube[2].length==11){
					console.log("We have YouTube!")
					$('.short-cover-container').css("height", "550px");
					$('.url-note').empty();
					displayedPreview = currentURL
					var ytObj = '<iframe title="YouTube video player" width="100%" height="550" src="http://www.youtube.com/embed/' + matchYouTube[2] + '?autoplay=0&iv_load_policy=3&rel=0&theme=light&color=white&controls=2&showinfo=0&autohide=1&loop=0&wmode=transparent&modestbranding=1&html5=1" ></iframe>';
					$('.short-cover').html(ytObj);
				}
			}
		}
	}


	// function getYouTubeID(currentURL){
	// 	var youtubeRegex = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
	// 	var match = currentURL.match(youtubeRegex);
	// 	if ( match ) {
	// 		return match
	// 	}
	// }

	$(function() {
		$('#add-link-form').submit(function() {
			$('input[name="url"]').val($('input[name="fake-url"]').val())
			return true;
		})
	})

	$(".short-cover").bind('mousedown',function() {
		$(this).mousedown(function(e) {
			var parentOffset = $(this).parent().offset();
			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			console.log(relX + " and " + relY);
		});
	});
}
</script>



