<div id="logbox">


	<div class="log-entry">
		<div class="log-date">
			January 28th 2013
		</div>
		<div class="log-description">
			Refactored views to use layouts saving a lot of code redundancy. Also added footer and changelog to track project progress.
		</div>
	</div>

</div>