<div id="logbox">

	<div class="log-entry">
		<div class="log-date">
			January 30th 2013
		</div>
		<div class="log-description">
			Major day of progress today. I finally got my User and Link class relationships in order. Users now have n many links which are displayed on their profile page. User profile pages now dynamically pulls up the avatar from when the user signed up. The front page now lists recently added links. Also began work on the UI of profile pages while taking into consideration of how things look on mobile. I'm likely going have to roll mobile custom CSS at some point but trying to avoid going down that rabbit hole at this point. More work on profile pages tomorrow and hopefully can begin to look at implementing embed.ly for links.
		</div>
	</div>

	<div class="log-entry">
		<div class="log-date">
			January 28th 2013
		</div>
		<div class="log-description">
			Refactored views to use layouts saving a lot of code redundancy. Also added footer and changelog to track project progress.
		</div>
	</div>

</div>