<!doctype html> 
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../styles/style.css" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
	<script src="../scripts/main.js"></script>


	<title><%= @title %></title> 
	<meta name="description" content="Shortlist" />
	<meta name="keywords" content="" />
</head>
	Shortlist.

<body>

</body>
</html>