<div class="title"> Shortlist </div>

<div class="hero-marker"></div>

<div id="signup-box">
	<form action="/login" method="post">
		<input type="text" class="link-input" name="username" placeholder="Username"/>
		<input type="password" class="link-input" name="password" placeholder="Password"/>
		<input type="submit" class="link-input link-button" value="Login">
	</form>
</div>
