<div class="title"> Welcome back! </div>

<div class="hero-marker"></div>



<div id="login-box">
	<div id="login-avatar" alt="User Avatar"> </div>
	<form action="/login" method="post">
		<input type="text" class="link-input" name="username" placeholder="Username"/>
		<input type="password" class="link-input" name="password" placeholder="Password"/>
		<input type="submit" class="link-input link-button" value="Login">
	</form>
</div>

<script>

function checkUsername(username, data) {
	$.each(data.avatars, function(i,avatar){
		if (username == avatar.username){
			$('#login-avatar').css("background-image", 'url(' + avatar.avatar_url + ')');
		};
	});
}

function getAvatarList() {

	var requestURL = "/api/avatars";
	$.getJSON(requestURL, function(data){
		if (data.avatars != false){

			$('input[name="username"]').keyup(function() {
				if ($(this).val() != "") {
					var username = $(this).val();
					checkUsername(username, data);
				};
			});
		}
	})
}

getAvatarList();

</script>


