<div class="title"> Shortlist </div>

<div class="hero-marker"></div>

<div id="signup-box">
	<form action="/signup" method="post">
		<input type="text" class="link-input" name="username" placeholder="Username"/>
		<input type="text" class="link-input" name="password" type="password" placeholder="Password"/>
		<input type="text" class="link-input" name="firstname" placeholder="First Name"/>
		<input type="text" class="link-input" name="lastname" placeholder="Last Name"/>
		<input type="text" class="link-input" name="user_avatar" placeholder="Your Face (URL)"/>
		<input type="submit" class="link-input link-button" value="Add User">
	</form>
</div>
