<!doctype html> 
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Shortlist" />
</head>
<body>
Hi there!
<br/><br/>
Thanks for signing up for Shortlist! I really appreciate it. Shorlist is all about sharing and finding the best bits of the internet every day.
<br/>
Things around here are still very much in alpha so let me know if anything doesn't make sense or the tubes are clogged. That means that your feedback (simply reply to this email) is super important and will shape how I build Shortlist.
<br/><br/>
Now go add your first link to Shortlist and let me know what you think!
<br/>
-Ted
</body>
</html>