html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block; 
}

body {
	background-color: #e2e1e1;
	color: black;
	font-family: 'Vollkorn', sans-serif;
	font-weight: 200;
}

html, body {
	line-height: 1; 
	height: 100%;
	margin: 0;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 20px;
}

#shorts {
	margin-right: auto;
	margin-left: auto;
	margin-top: 45px;
	width: 800px;
	width: 70%;
}

.title {
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	text-align: center;
	display: block;
	margin-top: 40px;
	font: 2em Ubuntu;
	text-shadow: 1px 1px 0 #656262;
	color: rgb(192, 192, 192);
}

#time-bar {
	width: 100%;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

	display: block;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	box-shadow: 0 0 0 1px #050505, 0 0 5px #918282;

	/*
	-webkit-box-shadow: 0 2px 6px #777;
	-moz-box-shadow: 0 2px 6px #777;
	box-shadow: 0 2px 6px #777;
	*/	


	background-image: url(../images/time-bar.jpg);
	background-position: 0px -1px;
	background-repeat: repeat-x;
}

.current-date {
	text-align: center;
	vertical-align: middle;
	line-height: 50px;

	/* should be 1.0 for targeting iOS */
	font-size: 1.5em;
	
	font-weight: 400;00;
	font-family: Raleway, sans-serif;
}

#logbox {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;


	background-color: #f5f5f5;
	width: 920px;
	-webkit-border-radius: 5px;

	box-shadow: 0 0 0 5px #ffffff, 0 0 15px #918282;
	box-shadow:  0 0 2px #050505, 0 0 0 6px #ffffff, 0 0 25px #918282;
}

.log-entry {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	font-family: 'Vollkorn', sans-serif;
}

.log-date {
	display: inline-block;
	width: 300px;
	text-align: left;
	text-decoration: underline;
	vertical-align: top;
}

.log-description {
	display: inline-block;
	width: 500px;
	line-height: 1.25;
}

#hero {
	margin-right: auto;
	margin-left: auto;
	padding-top: 150px; /* This is where the padding for avatar gets set */
	width: 100%;
	background-repeat: no-repeat;
	height: 150px; /* padding-top is added to this */
	background-size: cover;
	background-position: 50% 50%;
}

.avatar {
	max-width: 125px;
	max-height: 125px;
	display: block;
	box-shadow: 0 0 0 2px #050505, 0 0 5px #918282;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	margin-top: 0; /* Padding is set via #hero padding-top: 100px ; */
}

#hero img{

}

.hero-marker {
	background: rgb(57, 57, 57);
	height: 70px;
	width: 6px;

	opacity: 1;
	margin-right: auto;
	margin-left: auto;
}

#footer {
	position: relative;
	margin-top: -20px; /* negative value of footer height */
	height: 20px;
	clear:both;
	color: #656262;
	text-align: center;
	font-family: 'Ubuntu', serif;
	font-weight: 100;
}

#footer ul li {
	display: inline;
	position: relative;
}

#footer ul li a {
	text-decoration: none;
	color: #656262;
}

#footer :not(:last-child):after {
	content: " \B7 ";
	padding-left: 5px;
	padding-right: 5px; 
}